body{
    margin: 0px;
}
#nav{
    position: absolute;
    background-color: black;
    height: 100vh;
    display: inline-block;
    z-index: 2;
    
}
a{
    text-decoration: none;
    color: grey;
    display: block;
    padding: 8px 32px 8px 8px;
    
   
}

a:hover{
    color:white;
    transition: color 0.5s;
    
}
a:visited{
    color: white;
}
.closebtn{
    display: block;
    margin-left: 15px;
}
#toggle{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    display: none;
    z-index: 1;
    color: grey;
    margin-top: 20px;
}
#toggle:hover{
    color: white;
    transition: color 0.5s;
}
@media (max-width: 640px){
    
    a{
        font-size: 18px;
    }
    #nav{
        display: none;
        width: 50vw;
        height: 100vh;
    
    }
    .closebtn{
        font-size: 20px;
       margin-left: 40vw;
    }
    #toggle{
        display: inline-block;
    }
}

@media (min-width: 640px){
    #nav a{
        font-size: 20px;
    }
    #nav{
        width: 20vw;
        height: 100vh;
    
    }
    .closebtn{
        margin-left: 15vw;
    }
    #toggle{
        display: none;
    }
}
#main{
    position: absolute;
    left: 0px;
    z-index: 0;
    text-align: center;
    background-color: black;
    color: red;
    width: 100vw;
    display: inline-block;
}